#gameContainer{
    background-image: url("Resources/background.png");
    position: relative;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    border: 2px solid black;
}
#player{
    background-image: url("Resources/player.png");
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 75px;
}
#enemy{
    background-image: url("Resources/enemy.png");
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 150px;
}

body{
    background-image: url("https://static.wixstatic.com/media/e6f56d_a2b47380e8504300bfb2844e4a8a5159~mv2.gif");
    font-family: "Comic Sans MS";
}

h1{
    color: white;
    background-color: black;
}
p{
    color: white;
    background-color: black;
}